@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
}

body {
      font-family: 'Poppins', sans-serif;
      background-color: #EFFFFD;
}

header nav img {
  width: 80px;
}


header nav a {
  margin-right: 1rem;
  text-align: center;
  font-size: 1rem !important;
  font-weight: bold !important;
  color: #FF1700 !important;
  transition: all 0.6s ease-in-out;
}

header nav a:hover {
  color: #3B0000 !important;
}


.home {
  width: 100%;
  height: 89vh;
  background: linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0.4)) , url('./img/home-img\ \(1\).JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.home .home-heading-first {
  text-align: center;
  margin-top: 10rem;
  font-size: 3rem;
  font-weight: bold;
  color: #EEEEEE;
}

.home .home-heading-sec {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #EEEEEE;
}

.home .home-para-first {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #EEEEEE;
}

.home .home-btn {
  margin-left: 45%;
  padding: 0.8rem;
  background-color: #FF95C5;
  transition: all 0.6s ease-in-out;
}

.home .home-btn:hover {
  border-radius: 15px;
}

.home .home-btn .home-ancher-link {
  text-decoration: none !important;
  color: #F90716;
  transition: all 0.6s ease-in-out;
}

.home .home-btn .home-ancher-link:hover {
  color: #DDFFBC;
}

.about .about-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  animation: aboutHeading 10s linear infinite;
}

@keyframes aboutHeading  {
   0%{
    color: #A5F1E9;
   }

   25%{
    color: #FCF9BE;
   }

   50%{
    color: #FF7D7D;
   }

   75%{
    color: #7FBCD2;
   }

   100%{
    color: #C7F2A4;
   }
}

.about .about-heading-first {
  margin-top: 8rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #3B0000;
}

.about .about-heading-sec {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #3B0000;
}

.about .about-para-first {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #3B0000;
}

.about .about-btn {
  margin-left: 38%;
  padding:0.5rem;
  font-weight: 600;
  background-color: #0096FF;
  transition: all 0.6s ease-in-out
}

.about .about-btn:hover {
  background-color: #FFC3C3;
}

.about .about-btn .about-btn-ancher {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFC3C3;
  transition: all 0.6s ease-in-out;
}

.about .about-btn .about-btn-ancher:hover {
  color: #0096FF;
}


.about .container  img {

  transition: all 0.6s ease-in-out;

}

.about .container img:hover {
  border-radius: 15px;
  box-shadow: 5px 10px 15px #AD8B73;
}


.services .services-heading {
    text-align: center;
  font-size: 3rem;
  font-weight: bold;
  animation: servicesHeading 10s linear infinite;
}

@keyframes servicesHeading  {
   0%{
    color: #A5F1E9;
   }

   25%{
    color: #FCF9BE;
   }

   50%{
    color: #FF7D7D;
   }

   75%{
    color: #7FBCD2;
   }

   100%{
    color: #C7F2A4;
   }
}


.services .container img {
  transition: all 0.6s ease-in-out;
}

.services .container img:hover {
    border-radius: 15px;
  box-shadow: 5px 10px 15px #AD8B73;
}


.services .services-heading-first {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #3B0000;
}

.services .services-first-para {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #3B0000;
}

.services .services-btn {
  margin-left: 35%;
  background-color: #400D51;
  transition: all 0.6s ease-in-out;
}

.services .services-btn:hover {
  background-color: #F4E04D;
}

.services .services-btn .services-btn-ancher {
  text-decoration: none;
 text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: #F4E04D;
  transition: all 0.6s ease-in-out;
}

.services .services-btn .services-btn-ancher:hover {
  color: #400D51;
}

.gallery .gallery-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  animation: galleryHeading 10s linear infinite;
}


.gallery .gallery-first-heading {
  margin-top: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3B0000;
}

.gallery .gallery-sec-heading {
  margin-top: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3B0000;
}

.gallery .gallery-third-heading {
  margin-top: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3B0000;
}



@keyframes galleryHeading  {
   0%{
    color: #A5F1E9;
   }

   25%{
    color: #FCF9BE;
   }

   50%{
    color: #FF7D7D;
   }

   75%{
    color: #7FBCD2;
   }

   100%{
    color: #C7F2A4;
   }
}

.gallery .container img {
  transition: all 0.6s ease-in-out;
}


.gallery .container img:hover {
    border-radius: 15px;
  box-shadow: 5px 10px 15px #AD8B73;
}

.hobbie .hobbie-heading {
   text-align: center;
  font-size: 3rem;
  font-weight: bold;
  animation: hobbieHeading 10s linear infinite;
}

.hobbie .hobbie-heading-first {
   margin-top: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3B0000;
}

.hobbie .hobbie-heading-sec {
   margin-top: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3B0000;
}

.hobbie .hobbie-heading-third {
   margin-top: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3B0000;
}


.strength .strength-heading {
      text-align: center;
  font-size: 3rem;
  font-weight: bold;
  animation: strengthHeading 10s linear infinite;
}

@keyframes strengthHeading  {
   0%{
    color: #A5F1E9;
   }

   25%{
    color: #FCF9BE;
   }

   50%{
    color: #FF7D7D;
   }

   75%{
    color: #7FBCD2;
   }

   100%{
    color: #C7F2A4;
   }
}

.hobbie .container img {
  transition: all 0.6s ease-in-out;
}

.hobbie .container img:hover {
    border-radius: 15px;
  box-shadow: 5px 10px 15px #AD8B73;
}


.strength .strength-heading-first {
     margin-top: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3B0000;
}

.strength .strength-heading-sec {
     margin-top: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3B0000;
}

.strength .strength-heading-third {
     margin-top: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3B0000;
}

.strength .container img {
  transition: all 0.6s ease-in-out;
}

.strength .container img:hover {
   border-radius: 15px;
  box-shadow: 5px 10px 15px #AD8B73;
}

.contact {
  transition: all 0.6s linear;
}

.contact:hover {
  border-radius: 25px;
  box-shadow: 5px 10x 15px #393E46;
}

.contact .contact-heading  {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  animation: contactHeading 10s linear infinite;
}

@keyframes contactHeading  {
   0%{
    color: #A5F1E9;
   }

   25%{
    color: #FCF9BE;
   }

   50%{
    color: #FF7D7D;
   }

   75%{
    color: #7FBCD2;
   }

   100%{
    color: #C7F2A4;
   }
}

footer .footer-heading {
    text-align: center;
  font-size: 3rem;
  font-weight: bold;
  animation: footerHeading 10s linear infinite;
}

@keyframes footerHeading  {
   0%{
    color: #A5F1E9;
   }

   25%{
    color: #FCF9BE;
   }

   50%{
    color: #FF7D7D;
   }

   75%{
    color: #7FBCD2;
   }

   100%{
    color: #C7F2A4;
   }
}



footer .footer-img  {
  width: 150px;
 margin-left: 45%;
}

footer .icons {
 text-align: center !important;
  margin-top: 1rem;
}


footer .icons i {
  font-size: 1.5rem;
  margin-top: 0.8rem;
  margin: 1rem;
  color: #FF1700;
  transition: all 0.6s ease-in-out;
}


footer .icons i:hover {
  color: #5800FF !important;
}